@charset "utf-8";

.strp {
	position:relative;
	width:1vw;
	height:inherit;
	background-color: #39c5bb;
}

.bximg {
	position:absolute;
	left:1vw;
	top:0;
	height:25vw;
	width:40vw;
	object-fit:contain;
	background-color:black;
}

.hldrtxt {
	position:absolute;
	left:37vw;
	width:37vw;
	height:inherit;
	top:0;
	margin:0;
	text-align: center;	
	vertical-align: middle;
}
.hldrtxt>h1{
	position:relative;
	font-size: 3vw;
	top:20%;
}

#evnthldr {
	position: absolute;
	top: 110px;
	width:100%;
}

.hldrbx {
	position:relative;
	width:75%;
	height:25vw;
	background-color: #ffffff;
	margin:3vw;
	left:9.5%;
	
}
