#holder{
	position: relative;
}

/*-------------------------------------------------------*/

#slide{
	position:static;
	wodth: 100%;
	margin: 0;
}
.slidebox{
	top: 105px;
	position: relative;
}
.slideimg{
	width: 100%;
	height: 33.33vw;
	overflow: hidden;
	position: absolute;
	right: 0px;
}
.slideimg:hover{
	cursor: pointer;
}
.slide > a{
	position: relative;
	z-index:60;
	height:100%;
	background-repeat: no-repeat;
	text-indent:-9999em;
	overflow:hidden;
	background-image:url(../resources/img/pointer.png);
	cursor: pointer;
	width:60px;
	margin:0;
	padding:0;
	background-color: transparent;
	border-color: transparent;
}	
#img0{
	z-index: -1;
	object-fit: cover;	
}
#img1{
	z-index: -1;
	display: none;
	object-fit: cover;	
}
#img2{
	z-index: -1;
	display: none;
	object-fit: cover;	
}
#img3{
	z-index: -1;
	display: none;	
	object-fit: cover;	
}
#img4{
	z-index: -1;
	display: none;
	object-fit: cover;	
}

/*-------------------------------------------------------*/

#button-prev{
	height: 36.5vw;
	float: left;
	left:40px;
	background-position:18px 50%;
}
#button-next{
	height: 36.5vw;
	float: right;
	right:40px;
	background-position:-38px 50%;
}
.pager{
	position: absolute;
	width: 100%;
	z-index: 60;
	bottom: 10px;
	text-align: center;
	top: 31.33vw;
	
}
.pager-item{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 10px;
	height: 10px;
	border-radius: 6px;
	margin: 0 5px;
	text-indent: -9999px;
	overflow: hidden;
	border: 1px solid;
	border-color:#c1c1c1;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#btn0{
	background-color: #c1c1c1;
}

/*-------------------------------------------------------*/

	/*all move from left*/
.imgtxt{
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	font-weight: 700;
	font-size:70px;
}
#imgtxt0{
	position: absolute;
	left: 24vw;
	top: 13vw;
	color: #38f
}
#imgtxt1{
	position: absolute;
	display: none;
	left: 10vw;
}
#imgtxt2{
	position: absolute;
	display: none;
}
#imgtxt3{
	position: absolute;
	display: none;
}
#imgtxt4{
	position: absolute;
	display: none;
}

/*-------------------------------------------------------*/

.boxes{
	position: absolute;
	height: 25vw;
	width: 75%;
	display: block;
	left: 12.5%;
	align-items: left;
	margin: 5vw 0px;
	z-index: 0;
}
.colorboxes{
	position: absolute;
	width: 1vw;
	height: 25vw;
	left: -1vw;
	margin: none;
	padding: none;
	top: 0px;
	
}
.boximg{
	height: 25vw;
	width: 40vw;
	object-fit: cover;
	position: absolute;
}
.boxtxt{
	left: 41vw;
	position: absolute;
	padding: 10px 30px;
}
.boxtxt>h1{
	font-size: 2vw;
	}
.boxtxt>p{
	font-size: 1vw;
	
}
#boxtxt0>h1{
	color: #b60e42;
}
#colorbox0{
	background-color: #b40e42;
}
#box0{
	background-color: #ffffff;
	top: 40vw;
}
#boxtxt1>p{
	font-size:0.8vw;
}
#boxtxt1>h1{
	color:#91bef0;
}
#colorbox1{
	background-color:#91bef0;
}
#box1{
	background-color: #ffffff;
	top: 70vw;
}
#boxtxt2>p{
	font-size:1vw;
}
#boxtxt2>h1{
	color:#ea4d6a;
}
#colorbox2{
	background-color:#ea4d6a;
}
#box2{
	background-color: #ffffff;
	top: 100vw;
}



/*-------------------------------------------------------*/

#linebr{
	margin: 5vw 0px;
	position: absolute;
	top: 130vw;
	width: 76%;
	left: 11.5vw;
	
}
.sponsor{
	position:absolute;
	text-align: center;
	width: 100%;
	top: 140vw;
	color:#5c5c5c;
}
#premiere{
	font-size: 1.5vw;
}
#golden{
	font-size: 1.25vw;
}
#silver{
	font-size: 1vw;
}
#other{
	margin: 2vw;
}
#other>a{
	font-size: 1.5vw;
	font-weight: 1000;
	color: #5c5c5c;
	text-decoration: none;
}
.sponsorimg>img{
	align-items: center;
	width: auto;
	
}
#prmspn>img{
	height: 10vw;
}
#gldspn>img{
	height: 5vw;
}
#slvspn>img{
	height: 2.5vw;
}

