@charset "utf-8";
body{
	margin:0px;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	font-weight:400;
	font-size: 14px;
	line-height: 1.5;
	color: #757575;
	-webkit-font-smoothing: antialiased;
}
.slideimg{
	position: relative;
}
.slideimg > img{
	width: 100%;
	height: 32.46vw;
}
.slideimg > a{
	position: absolute;
	z-index:60;
	height:100%;
	background-repeat: no-repeat;
	text-indent:-9999em;
	overflow:hidden;
	background-image:url(../img/pointer.png);
	cursor: pointer;
	width:60px;
	margin:0;
	padding:0;
	background-color: transparent;
	border-color: transparent;
}	
#button-prev{
	float: left;
	left:40px;
	background-position:14px 50%;
}
#button-next{
	float: right;
	right:40px;
	background-position:-38px 50%;
}
.pager{
	position: absolute;
	width: 100%;
	z-index: 60;
	bottom: 10px;
	text-align: center;
	
}

.pager-item{
	display: inline-block;
	text-align: center;
	width: 10px;
	height: 10px;
	border-radius: 6px;
	margin: 0 5px;
	text-indent: -9999px;
	overflow: hidden;
	border: 1px solid;
	border-color:#c1c1c1;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

#img0{
	z-index: -1;
	object-fit: scale-down;
}
#img1{
	z-index: -2;
	display: none;
	object-fit: scale-down;
}
#img2{
	z-index: -2;
	display: none;	
	object-fit: scale-down;
}
#img3{
	z-index: -2;
	display: none;	
	object-fit: scale-down;
}
#img4{
	z-index: -2;
	display: none;
	object-fit: scale-down;
}