@charset "utf-8";

/*-------------------------------------------------------*/

.footerblend{
	position: absolute;
	height: 7vw;
	background: linear-gradient(0deg, #39c5bb, transparent);
	width: 100%;
	bottom: 15vw;
}
.footer{
	height: 15vw;
	width: 100%;
	position: absolute;
	background-color: #39c5bb;	
	bottom: 0;
	left: 0;
	right: 0;
}
.footerlogo>img{
	width: 25vw;
	margin: 3vh 3vh 0;
}
.footercnct{
	left: 30vw;
	position: relative;
	width: 60%;
}
.footercnct>h1{
	width:15vw;
}
.footercnctimg>img{
	height: 4vw;
	margin:1vh 1vh 0;
}
.footercnctimg>img:hover{
	cursor: pointer;
}
#location-check{
	height: 1px;
	position: relative;
	
}
@media screen and (min-aspect-ratio:1/1){
	.footercnct{
		bottom: 11vw;
		font-size: 1vw;
		margin: 1vh;
	}
	
}
@media screen and (max-aspect-ratio: 1/1){
	.footercnct{
		left: 30vw;
		bottom: 13vw;
		font-size: 1vw;
		margin: 1vw 1vw 0;
	}
}