@charset "utf-8";
#peoman{
	width: 96%;
	margin: 0 2vw;
	position: absolute;
	top: 105px;
	
}
#peoman>h1{
	font-size: 3vw;
	text-align: center;
	margin:2vw 0 0;
	
}
#peoman>hr{
	margin: 0;
}
.cntnt{
	background-color: rgba(92,92,92,0.10);
	padding:0 3vw;
	padding-bottom: 1vw;
	margin-top: 0;
}
.cntnt>h1{
	top: 2vw;
	position: relative;
	left: 5vw;
	margin: 4vw 0;
	font-size: 2.5vw;
}
.cntnt>ul{
	list-style-type: none;
	text-align: center;
}
.cntnt>ul>li{
	display: inline-block;
	text-align: center;
	margin: 25px;
	height:360px;
	width:480px;
	position:relative;
}
.cntnt>ul>li>a{
	width:inherit;
	height:inherit; 
}
.cntnt>ul>li>a>img{
	width: inherit;
	height: inherit;
	margin: 2px;
	object-fit:cover;
	align-items: center;
	position: relative;
	bottom:2px;
	right:2px;
	z-index: 1;
}
.cntntimg>li>div{
	background-color:black;
	height: inherit;
	width: inherit;
	z-index: -10;
	position:absolute;
	top:0px;
	
}
.cntntimg>li>h1{
	z-index: 10;
	position: absolute;
	top:100px;
	font-size: 3vw;
	text-align: center;
	width:100%;
	display: none;
}

@media screen and (max-width: 1000px){
	.cntnt>h1{
		font-size: 5.5vw;
	}
	#peoman>h1{
		font-size: 5vw;
	}
}
@media screen and (max-width: 700px){
	.cntnt>ul>li>a>div>img{
		width: 36vw;
		height: 27vw;
	}
	.imgcover{
		width:36vw;
		height:27vw;
	}
	.cntnt>ul>li{
		margin: 0.5vw;
	}
}