body{
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0;
	margin: 0;
}

header{
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: url("../img/roboticsEnviormentalOne.png");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#greyCover{
	padding: 0;
	margin: 0;
	position: absolute;
	height: 75vh;
	width: 100vw;
	top: 25vh;
	background-color: #252525;
	-webkit-box-shadow: 0 -100px 100px -100px black;
	-moz-box-shadow: 0 -100px 100px -100px black;
	box-shadow: 0 -100px 100px -100px black;
}

#profileImg{
	position: absolute;
	padding: 0;
	margin: 0;
	height: 20vh;
	width: 20vh;
	left: 10vw;
	top: 10vh;
	
}

div.generalInformation{
	position: absolute;
	/*border: 5px red solid;*/
	height: 40vh;
	width: 40vw;
	top: 7vh;
	left: 10vw;
}

h1{
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 5vh;
	letter-spacing: 15px;
	color: white;
	margin: 0;
}

h2{
	position: relative;
	font-family: 'Lato', sans-serif;
	font-size: 1.5vh;
	letter-spacing: 10px;
	color: white;
	margin: 0;
}

h3{
	font-family: 'Lato', sans-serif;
	font-size: 2vh;
	letter-spacing: 2px;
	color: white;
	margin: 0 0 5vh 0;
}

#backButton {
	position: absolute;
	height: 10vh;
	width: 10vh;
	top: 32vh;
	left: 3vw;
}

#backButton:hover{
	animation-duration: 2s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

@media only screen and (max-width: 1000px)
{		
	#backButton{
	top: 5vh;
	left: 70vw;		
	}
}
